{% extends 'front.html.twig' %}

{% block front %}
    <div class="row align-items-stretch justify-content-center">
        <div class="col-4">
            <img src="{{ asset('images/ina.png') }}" alt="Ina Zaoui" class="about-img w-100">
        </div>
        <div class="col-4">
            <div class="d-flex flex-column justify-content-center align-items-start h-100 gap-3 ps-5">
                <h2 class="about-title">Qui suis-je ?</h2>
                <p class="about-description">
                    Ina Zaoui est une photographe globe-trotteuse, réputée pour son engagement à explorer les paysages du monde entier en utilisant exclusivement des moyens non motorisés tels que la marche, le vélo ou la voile.
                    <br>
                    <br>
                    Son approche artistique transcende les frontières conventionnelles de la photographie, capturant l'essence même de la nature dans ses images, où la majesté des paysages se mêle à une profonde réflexion sur l'harmonie entre l'homme et son environnement.
                    <br>
                    <br>
                    Sa démarche est imprégnée d'un respect profond pour la Terre, embrassant la simplicité et la pureté des modes de déplacement traditionnels pour mieux se fondre dans les décors qu'elle immortalise.
                    <br>
                    <br>
                    Chaque cliché d'Ina Zaoui est une ode à la beauté brute et à la fragilité de notre planète, invitant le spectateur à contempler, avec émerveillement et conscience, la richesse infinie des paysages terrestres.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
