{% extends 'admin.html.twig' %}

{% block admin %}
    <div class="d-flex justify-content-between align-items-center">
        <h1>Invités</h1>
        <a href="{{ path('admin_guest_index') }}" class="btn btn-primary">Retour</a>
    </div>

{% endblock %}